{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <!-- Подключаем локальный файл Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <!-- Здесь будет содержимое страницы -->
        {% block content %}
        {% endblock %}
    </div>
    

    <!-- Подключаем локальный скрипт Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>